.App {
    text-align: center;
  }
  
  .App {
    text-align: center;
  }
  
  .App {
    text-align: center;
  }
  .frm1{
    padding: 5px 20px;
  
  }
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    color:midnightblue;
    text-align: left;
  }
  .wrapper {
    padding: 20px 20px;
    border-color: #61dafb;
    background-color: rgb(180, 218, 218);
    text-align: center;
  }
  
  .wrapper fieldset {
    margin: 100px 0;
  }
  .lbl1{
    text-align: right;
   float:right;
   font-size:large;
   
  }
  .lbl3{
    display:inline-block;
  
    margin-left: 15px;       /* This is when the drop down box appears */
   
  
    text-align: right;
  
  }
  .lbl2{
    text-align: left;
   float:left;
   padding-bottom: 10px;
  }
  .h2{
    text-align: center;
    background-color: rgb(205, 235, 253);
    position: relative;
   
  }
  .p{
  text-align :left;
  }
  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 10px;
    width:30px;
  }
  .btn2{
    text-align: left;
   padding-right: 20px;
   border-spacing: 10px;
   float: left;
  }
  
  .btn3{
    float:right
  }
  
  th {
    background-color: rgb(117, 201, 250);
  }
  
  td {
    background-color: rgb(205, 235, 253);
  }
  .btn2{
    text-align: center;
  }
  
  
  
  
  
  
  